*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background: green;
}
nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: blue;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px yellow;
    z-index: 2;
}
.logo {
    text-align: center;
    display: flex;
    transition: all0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 20px;
    padding-top: 10px;
}
a {
    position: relative;
    color: brown;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
}
.nav-item {
    position: relative;
    top: 12px;
    margin-left: 80px;
}
.icon a:hover {
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}